@import '../variables.scss';

header {
    display: flex;
    background: $header-bg;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

h3 {
    color:$header-text-color;
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    font-family: Oswald;
}

.logoutButton {
    margin-left: auto;
    border-radius: 9px;
    background: white;
    border: 0;
    padding: 9px 31px;
    transition: 0.2s ease-out;
    &:hover {
        transition: 0.2s ease-in;
        transform: scale(1.02);
        box-shadow: 0 4px 13px -9px;
    }
}