@import '../variables.scss';

.loginBody {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $gradient-primary;
    background: -webkit-linear-gradient(to right, $gradient-primary , $gradient-secondary);
    background: linear-gradient(to right, $gradient-primary, $gradient-secondary);
    .loginFormContainer {
        background: white;
        font-family: 'Roboto';
        padding: 20px;
        width: 300px;
        margin: auto;
        margin-top: 20vh;
        border-radius: 20px;
        box-shadow: 0 0 20px -10px;
    }

    h1 {
        font-family: Oswald;
        font-weight: 300;
        text-align: center;
    }

    input {
        border: 1px;
        width: 100%;
        background: #f2f2f2;
        color: #0e0e0e;
        padding: 12px 0;
        font-family: Roboto;
        margin: 10px 0;
        text-align: center;
    }

    button {
        border: 1px;
        width: 100%;
        background: $button-primary;
        color: #ffffff;
        padding: 12px 0;
        font-family: Roboto;
        margin: 10px 0;
        text-align: center;
        transition: 0.2s ease-out;
        &:hover {
            background: darken($button-primary, 10%);
            transition: 0.2s ease-in;
        }     
    }

    .forgotPassword {
        margin: 10px 0;
        text-decoration: none;
        color: $button-primary;
        text-align: center;
        display: block;
    }
}