$gradient-primary : #2a0845;
$gradient-secondary : #6441A5;
$header-bg : #83A2FF;
$header-text-color : #ffffff;

$default-border: #e6e6e6;

$content-font: Roboto;


$button-primary : #178fff;
$button-default : #f7f7f7;